.card {
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.2);
    @media (min-width: 768px) {
        width: 30%;
        margin: 0 15px 30px;
    }
    a:hover {
        text-decoration: none;
    }
    .img-wrapper {
        min-height: 573px;
        width: 100%;
        background-color: #c9c9c9;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 20px;
            font-weight: bold;
            color: #a2a2a2;
        }
    }
    .content {
        text-align: left;
        padding: 15px;
        .title {
            font-size: 20px;
        }
        .release-date {
            margin-bottom: 10px;
        }
    }
    img {
        min-height: 573px;
        width: 100%;
        object-fit: cover;
    }
}
.favs-wrapper {
    padding: 1px;
    min-height: 100vh;
    background-color: #cfcfcf;
    .card img {
        max-height: 573px;
    }
    .favs-inner {
        max-width: 1300px; 
        margin: 90px auto 0;
        padding: 0 20px;
    }
    span {
        position: fixed;
        left: 19px;
        top: 19px;
        cursor: pointer;
    }  
}
.no-movies {
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      
}